.player {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controls {
  display: flex;
  gap: 1rem;
}

.time {
  display: flex;
  align-items: center;
}

.audioLabel {
  font-weight: bold;
}

.audioInput {
  border-radius: 5px;
  padding: 8px;
  border: 1px solid #ccc;
}
